DATABASE_URL=
DATABASE_URL_POOLER=

# --- Auth ---
MASTER_PIN=
SESSION_SECRET=


GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=

# --- Google Drive ---
GOOGLE_DRIVE_ROOT_FOLDER_ID=

# --- App URL ---
APP_URL=
